<h1>Todo-App</h1>
{{input type= "text" id="new-todo" placeholder="What needs to be done????" value= newTitle}}
<button {{action 'createTodo'}} disabled={{enableSubmit}}>Submit Todo</button>
<ul>
  {{#each model as |todo|}}
    <div>
      <li>
        {{#link-to "todos.show" todo class=todo.id}}{{todo.title}}{{/link-to}}
        {{#if todo.completed}}
          - Completed
        {{/if}}
      </li>
      <button {{action 'markComplete' todo}}>Mark Complete</button>
      <button {{action 'removeTodo' todo}}>RemoveTodo</button>
    </div>
    {{else}} None Found
  {{/each}}
</ul>
{{outlet}}
